:root{
    --Very-dark-blue : hsl(233, 47%, 7%); /* main background */
    --Dark-desaturated-blue : hsl(244, 38%, 16%);  /* (card background) */
    --Soft-violet : hsl(277, 64%, 61%); /*(accent) */
    --White : hsl(0, 0%, 100%); /* (main heading, stats) */ 
    --Slightly-transparent-white : hsla(0, 0%, 100%, 0.6); /* (stat headings) */
}

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    background-color: var(--Very-dark-blue); 
}
.body{
    font-size: 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    flex-direction: row-reverse;
    border-radius: 10px;
}
/* Sub card */
.card{
    width: 500px;
    color: var(--White); 
    border-radius: 10px;
}

.card:nth-child(2){
    min-height: 400px;
    background-color: var(--Dark-desaturated-blue) ;
    border-radius: 10px 0 0 10px;
}
/* Card styling */
.card:nth-child(2) h1{
    font-family: 'Inter', sans-serif;
    padding: 60px 60px 20px 60px;
    margin: 0;
    word-spacing: 2px;
}
.h1-highlight{
    color: var(--Soft-violet);
}

.card:nth-child(2) p{
    font-family: 'Inter', sans-serif;
    color: var(--Slightly-transparent-white);
    padding:0 60px 0 60px;
    margin: 0; 
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    word-spacing: -1.1px;
}
.card:nth-child(2) ul{
    display: flex;
    justify-content: space-between;
    padding:50px 120px 20px 60px;
    margin: 0;
}

.card:nth-child(2) ul li{
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: bolder;   
    line-height: 1;
}

.card:nth-child(2) ul li .sub-li-text{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;   
    text-transform: uppercase;
    color: var(--Slightly-transparent-white);
}
.image {
    background: url(stats-preview-card/images/image-header-desktop.jpg) no-repeat;
    width: 100%;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 0 10px 10px 0;
}
.transparent{
    background-color: hsl(276deg 100% 49% / 41%);
    min-height: 400px;
    
}


/* Footer */
.attribution 
{ 
    font-family: 'Inter', sans-serif;
    font-size: 16px; 
    text-align: center; 
    color: var(--White);
    
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
/* Tablet */
@media (max-width:900px){
    .container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .card{
        text-align: center;
    }
    .card:nth-child(2){
        border-radius:0 0 10px 10px;
    }
    .card:nth-child(2) ul {
        padding: 50px 80px 20px 80px;
    }
    .image {
        border-radius: 10px 10px 0 0;
    }
}
/* Mobile */
@media (max-width:550px){
    .card{
        width: 250px;
        text-align: center;
    }
    .card:nth-child(2) h1 {
        padding: 30px 20px 20px 20px;
        word-spacing: 0px;
        font-size: 25px;
    }
    .card:nth-child(2) p {
        font-size: 14px;
        line-height: 1.2;
        padding: 0 20px;
    }

    .card:nth-child(2) ul{
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
    }

    .image {
        background: url(stats-preview-card/images/image-header-mobile.jpg) no-repeat;
        min-height: 200px;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    .transparent{
        min-height: 200px;   
    }
    .attribution 
    { 
    font-size: 10px; 
   }
}